@font-face{
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf) format("ttf");
    font-weight: 700;
}

@font-face{
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf) format("ttf");
    font-weight: 400;
}

@font-face{
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat/Montserrat-LightItalic.ttf) format("ttf");
    font-weight: 300;
    font-style: italic;
}

@font-face{
    font-family: 'Kaushan Script', cursive;
    src: url(../fonts/Kaushan_Script/KaushanScript-Regular.ttf) format("ttf");
}



