@import "../css/fonts.css";

:root{
    --main-font: 'Montserrat';
    --main-font-weight: 400;
    --secondary-font:'Kaushan Script';
    --header-font-color: #95e1d3;
    --main-font-color: #0e0707;
    --hover-color: #f38181;
    --description-font-color:#999999;
}

body{
    font-family: var(--main-font);
    font-weight: var(--main-font-weight);
    color: var(--main-font-color);
}

img{
    display: block;
    width: 100%;
    height: auto;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.main_header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 27px;
    margin-bottom: 113px;
}

.logo_link{
    text-decoration: none;
    color: var(--header-font-color);
    font-size: 30px;
    font-weight: 700;
}

.capitalised_letter{
    text-transform: uppercase;
}

.nav_list{
    display: flex;
    justify-content: space-between;
    width: 490px;
}

.nav_link{
    text-decoration:none;
    text-transform: uppercase;
    color: var(--header-font-color);  
    font-size: 14px;  
}

.nav_link::after{
    content: "";
    border-bottom: 3px solid var(--hover-color);
    width: 100%;
    display: block;
    margin-top: 12px;
    opacity: 0;
}

.nav_link:hover{
    animation: nav-hover 200ms linear forwards; 
}

@keyframes nav-hover{
    0%{
        color: var(--header-font-color);
    }
    100%{
        color: var(--hover-color);
    }
}

@keyframes after-appears{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.nav_link:hover::after{
    animation: after-appears 200ms linear forwards;
}

/*-----------------TEAM SECTION----------------*/
.amazing_services{
    margin-bottom: 90px;
}


.team_we{
    font-family: var(--secondary-font);
    font-size: 24px;
    text-align: center;
    padding-bottom: 22px;
    text-transform: initial;
    font-weight: normal;
    display: block;
}

.team_title{
   font-weight: 700;
   text-transform: uppercase;
   font-size: 30px;
   text-align: center;
   margin-bottom: 65px;
}

.team_title::after{
    content:"";
    border-bottom: 3px solid var(--hover-color);
    width: 60px;
    display: block;
    margin: 42px auto 0;
}

.services_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 241px;
    align-content: space-between;
}
    

.services_item{
    width: 300px;
    padding-left: 83px;
    position: relative;
}

.services_item::before{
    content: "";
    width: 83px;
    height: 32px;
    position: absolute;
    top:0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
}

.services_item:nth-child(1)::before{
    background-image: url(../img/icons/ALARM.png);
}

.services_item:nth-child(2)::before{
    background-image: url(../img/icons/LINE\ GRAPH.png);
}

.services_item:nth-child(3)::before{
    background-image: url(../img/icons/COMPUTER\ _\ OK.png);
}

.services_item:nth-child(4)::before{
    background-image: url(../img/icons/BOOK\ 2.png);
}

.services_item:nth-child(5)::before{
    background-image: url(../img/icons/HOME.png);
}

.services_item:nth-child(6)::before{
    background-image: url(../img/icons/IMAGE.png);
}
    
.services_item_title{
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 20px;
}

.services_item_description{
    color: var(--description-font-color);
    line-height: 24px;
    font-size: 15px;
}

.meet_our_team{
    margin-bottom: 84px;
}

.meet_our_team_title{
    margin-bottom: 45px;
}

.team_description{
    font-size: 15px;
    color: var(--description-font-color);
    line-height: 24px;
    max-width: 960px;
    margin: 0 auto 96px;
    text-align: center;
}

.team_list{
    display: flex;
    justify-content: space-between;
}

.team_item{
    width: 380px;
    position: relative;
}

.image_wrapper{
    position: relative;
    margin-bottom: 30px;
}

.team_image{
    position: relative;
    z-index: 2;
}

.image_wrapper::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #95e1d3;
    display: block;
    position: absolute;
    z-index:1;
    top:0;
    left:0;
}



.gradient{
    height: 100%;
    width: 100%;
    background: linear-gradient(to top, 
    rgba(252, 227, 138, 0.9), 
    rgba(243, 129, 129, 0.9));
    position: absolute;
    z-index:3;
    top:0;
    left:0;
    opacity: 0;    
}

.list_socials{
    display: flex;
    position: absolute;
    top:207px;
    left:78px;
    /* top: 50%;
    left:50%;
    transform: translate(-50%, -50%); */
    z-index: 4;
    /* opacity: 0; */
    width: 237px;
}

.item_socials{
    width: 57px;
    height: 57px;
    margin-right: 1px;
    background-color: #fce38a;
}

.link_socials{
    width: 57px;
    height: 57px;
    display: block;
}

.item_socials:hover{
    background-color: var(--header-font-color);
}

.link_socials::after{
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 57px;
    height: 57px;  
}

.link_socials_first::after{
    background-image: url('../img/icons/socials/facebook.png');
}

.link_socials_second::after{
    background-image: url('../img/icons/socials/twitter.png');
}

.link_socials_third::after{
    background-image: url('../img/icons/socials/pinterest.png');
}

.link_socials_fourth::after{
    background-image: url('../img/icons/socials/instagram.png');
}

@keyframes gradient-appears{
    0%{
        background: linear-gradient(to top, 
    rgba(252, 227, 138, 0), 
    rgba(243, 129, 129, 0));  
    opacity: 0; 
    }
    100%{
        background: linear-gradient(to top, 
    rgba(252, 227, 138, 0.9), 
    rgba(243, 129, 129, 0.9));
    opacity: 1;
        
    }
}

@keyframes transition{
    0%{
        transform: translate(0, 0);
    }
    100%{
        transform: translate(-10px, -10px);
    }
}


.team_item:hover  .gradient{
    animation: transition 200ms linear forwards, gradient-appears 200ms linear forwards;
}

.team_item:hover .team_image{
    animation: transition 200ms linear forwards;
}

.team_name{
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    margin-bottom: 15px;
}

.team_position{
    font-size: 15px;
    color: var(--description-font-color);
    font-weight: 300;
    font-style: italic;
    text-align: center;
}



/*-------------------FOOTER------------*/
.main_footer{
    height: 63px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e5e5e5;
}


.rights{
    font-size: 14px;
}

.rights_red{
    color: var(--hover-color);
}

.form{
    font-size: 0;
    display: flex;
    align-items: center;
}

.email{
    min-width: 228px;
    min-height: 40px;
    border: 1px solid #e7e7e7;
    padding-left: 10px;
}

.email::placeholder{
    color: var(--description-font-color);
    font-size: 15px;
    font-style: italic;
}

.button{
    border: none;
    background-color: var(--header-font-color);
    padding: 14px 33px;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    cursor: pointer;
}









