:root {
  font-size: 10px;
}

body {
  font-family: var(--main-font-family);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
    margin: 0 auto;
}

/* HEADER */

.main_header{
  position: absolute;
  width: 100%;
  top:0;
  z-index: 999;
}

.wrapper {
  /* min-width: 320px;
  max-width: 1440px; */
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.autorization {
  text-align: center;
}

.header_button {
  font-size: 1.4rem;
  font-family: var(--main-font-family);
  background: transparent;
  color: var(--holiday-color);
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 20px;
  font-weight: 700;
  box-sizing: border-box;
  padding: 1rem 1.7rem;
  cursor: pointer;
}

.header_button:hover,
.header_button:active {
  border: 2px solid rgb(255, 255, 255);
}

.logo {
  text-align: center;
}

.logo_link {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--holiday-color);
  font-size: 2rem;
  font-weight: 700;
}

/* HOLIDAY DREAM */

.main_page{
    text-align: center;
}

.main_pages_title {
  font-size: 3rem;
  font-weight: 700;
  color: var(--holiday-color);
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}

.main_page_addition {
  color: var(--holiday-color);
  font-family: var(--additional-font-family);
  font-size: 1.8rem;
  font-weight: 300;
  text-align: center;
}

.main_page_button {
  display: inline-block;;
  text-decoration: none;
  color: var(--holiday-color);
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  background-color: var(--button-color);
  margin: 0 auto;
  border-radius: 20px;
  box-sizing: border-box;
}

/* PARTNERS */

.partner {
  text-align: center;
  /* max-width: 320px;; */
}

.partner_title {
  font-weight: 700;
  font-size: 2.198rem;
  color: var(--partner-title-color);
}

.image_container {
  display: inline-block;
  position: relative;
  margin-bottom: 2.1rem;
}

.partner_img {
  display: inline-block;
  border-radius: 50%;
}

.image_container::after {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  border: 4px solid var(--holiday-color);
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: center;
}

.tv::after {
  background: url("../img/icons/Shape\ 128.png");
  background-color: var(--button-color);
  background-repeat: no-repeat;
  background-position: center;
}

.chemical::after {
  background: url("../img/icons/Shape\ 155.png");
  background-color: #ffa507;
  background-repeat: no-repeat;
  background-position: center;
}

.coffee::after {
    background: url("../img/icons/Shape\ 153.png");
    background-color: #1cd7ad;
    background-repeat: no-repeat;
    background-position: center;
  }

  .letter::after {
    background: url("../img/icons/Shape\ 170.png");
    background-color: #4e73db;
    background-repeat: no-repeat;
    background-position: center;
  }

.partner_name{
    font-weight: 700;
    font-size: 1.397rem;
    color: var(--partner-title-color);
    margin-bottom: 1.1rem;
}

.partner_description{
    font-family: var(--additional-font-family);
    font-size: 1.397rem;
    font-weight: 300;
    color: var(--partner-description-color);
    line-height: 1.2;
}

.partner_button{
    text-decoration: none;
    color: var(--button-color);
    font-size: 1.4rem;
    font-weight: 700;
    display: inline-block;;
    border: 2px solid var(--button-color);
    border-radius: 20px;
    /* width: 96.22%; */
}