:root{
    --holiday-color: #ffffff;
    --partner-title-color: #333333;
    --partner-description-color:#666666;
    --button-color:#ff4e50;
    --main-font-family: 'Montserrat', sans-serif;
    --additional-font-family: 'Roboto', sans-serif;

}