.main-footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 1rem;

  &::before {
    border-top: 1px solid #e5e5e5;
    content: "";
    width: 100%;
    grid-column: span 2;
    display: block;
    margin-bottom: 1rem;
  }
}

.copyrights {
  font-family: $main-font-family;
  font-weight: 400;
  font-size: 1.4rem;
  color: $main-text-color;
  display: inline-block;
  margin: 0;
  padding-top: 1rem;
}

.author-name {
  @extend %link;
  color: $border-color;
  font-family: $main-font-family;
  font-weight: 400;
  font-size: 1.4rem;
}

.subscription-form {
  justify-self: end;
  font-size: 0;
}

.email {
  padding: 1.1rem 0 1.1rem 1.3rem;
  min-width: 22.8rem;
  border: 1px solid #e5e5e5;
  font-size: 1.5rem;

  &::placeholder {
    font-family: $additional-font-family;
    font-weight: 300;
    color: #cccccc;
    font-size: 1.5rem;
    font-style: italic;
  }
}

.subscribe-button {
  @extend %bold-title;
  color: $main-section-color;
  font-size: 1.4rem;
  background-color: $button-color;
  border: none;
  padding: 1.2rem 3.3rem 1.2rem 3.3rem;
}
