.services-section {
  margin-bottom: 10.9rem;

  &__title {
    margin: 0 auto;
    width: 26.67%;
    color: $main-text-color;
  }

  &__cursive-title {
    @extend %cursive-title;
    @extend %services-and-team-section_cursive;
  }

  &__bold-title {
    @extend %bold-title;
    @extend %services-and-team-section_bold;
    @include border-pseudo;
  }

  &__list {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    width: 31.916%;
    display: grid;
    grid-template-columns: 21.67% auto;
    grid-template-rows: repeat(2, auto);
    margin: 0 2rem 7.8rem 0;

    &:nth-child(3n) {
      margin-right: 0;
    }

    &:nth-child(n + 4) {
      margin-bottom: 0;
    }
  }

  &__svg {
    grid-column: 1/2;
    grid-row: span 2;
    width: 32px;
    height: 32px;
    fill: $button-color;
    justify-self: center;
  }

  &__sub-title {
    font-family: $main-font-family;
    font-size: 1.4rem;
    color: $main-text-color;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0 0 2.1rem 0;
  }

  &__description {
    @extend %title;
    font-family: $additional-font-family;
    color: $additional-font-color;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.4rem;
    padding-right: 3rem;
  }

}

