@import "../css/vars.css";
@import "../css/fonts.css";

:root{
    font-size: 10px;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

.my-container{
    width: 120rem !important;
}

.main-header{
    position: absolute;
    top:0;
    padding-top: 2.8rem;
    margin: 0 auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

.main-nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.logo{
    margin: 0;
    -ms-flex-item-align: start;
        align-self: flex-start;
}
 
.logo-link, .logo-link:hover{
    font-family: var(--main-font-family);
    font-weight: 700;
    color: var(--main-section-color);
    text-decoration: none;
    font-size: 3rem;
}

.logo-capital-letter{
    text-transform: uppercase;
}

.nav-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
    margin: 0;
    /* align-items: baseline!important; */
    height: 100%;
}

.nav-list__item{
    list-style: none;
    padding-top: 1.2rem;
    /* height: 100%; */
    /* margin-right: 5.5rem; */
}

/* .nav-list__item:nth-last-child(2){
    margin-right: 4.2rem;
}

.nav-list__item:last-child{
    margin-right: 0;
} */

.nav-list__link{
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--main-section-color);
    text-decoration: none;
    font-family: var(--main-font-family);
    font-weight: 400;
}

.nav-list__link::after{
    content: "";
    border-bottom: 3px solid var(--hover-color);
    width: 100%;
    margin-top: 1rem;
    display: none;
}
  

.nav-list__link:hover{
    color: var(--hover-color);
    text-decoration: none;
}

.nav-list__link:hover::after {
    display: block;
}

.nav__icon{
    fill: var(--main-section-color);
    width: 1.6rem;
    height: 1.6rem;
}

.nav__icon:hover{
    fill: var(--hover-color);
}

.welcome-wrapper{
    background-image: -webkit-gradient(linear,
     left bottom, left top,
     from(rgba(252, 227, 138, 0.9)), 
     to(rgba(243, 129, 129, 0.9))),
     url('../img/Layer15-min.jpg');
    background-image: -webkit-linear-gradient(bottom,
     rgba(252, 227, 138, 0.9), 
     rgba(243, 129, 129, 0.9)),
     url('../img/Layer15-min.jpg');
    background-image: -o-linear-gradient(bottom,
     rgba(252, 227, 138, 0.9), 
     rgba(243, 129, 129, 0.9)),
     url('../img/Layer15-min.jpg');
    background-image: linear-gradient(to top,
     rgba(252, 227, 138, 0.9), 
     rgba(243, 129, 129, 0.9)),
     url('../img/Layer15-min.jpg');
     background-position: center center;
     background-size: 100% 100%;
     background-repeat: no-repeat;
}

@media (-webkit-min-device-pixel-ratio:2), (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi){
    .welcome-wrapper{
        background-image: -webkit-gradient(linear,
        left bottom, left top,
        from(rgba(252, 227, 138, 0.9)), 
        to(rgba(243, 129, 129, 0.9))),
        url('../img/Layer15@2x-min.jpg');
        background-image: -webkit-linear-gradient(bottom,
        rgba(252, 227, 138, 0.9), 
        rgba(243, 129, 129, 0.9)),
        url('../img/Layer15@2x-min.jpg');
        background-image: -o-linear-gradient(bottom,
        rgba(252, 227, 138, 0.9), 
        rgba(243, 129, 129, 0.9)),
        url('../img/Layer15@2x-min.jpg');
        background-image: linear-gradient(to top,
        rgba(252, 227, 138, 0.9), 
        rgba(243, 129, 129, 0.9)),
        url('../img/Layer15@2x-min.jpg');
        background-position: center center;
        background-size: 100% 100%;
        background-repeat: no-repeat; 
    } 
}

.welcome-section{
    padding-top: 24rem;
    margin-bottom: 4.6rem;
}

.welcome-title{
    color: var(--main-section-color);
}

.creative-title{
    font-family: var( --cursive-font-family);
    text-transform: capitalize;
    font-size: 7.2rem;
    margin: 0 auto 4rem;
    line-height: 7.2rem;
}

.main-title{
    text-transform: uppercase;
    margin: 0 auto 12.5rem;
    font-size: 150px;
    font-family: var(--main-font-family);
    font-weight: 700;
    line-height: 150px;
}

.button-link, .button-link:hover{
    color: var(--main-section-color);
    text-transform: uppercase;
    text-decoration: none;
    font-family: var(--main-font-family);
    font-size: 1.4rem;
    margin: 0 auto 23rem;
    display: inline-block;
    border: 3px solid var(--main-section-color);
    padding: 1.2rem 3rem;
    width: 14%;
    line-height: 1.4rem;    
}

/* SERVICES SECTION */
.services{
    margin-bottom: 9.5rem;
}
.upper-title{
    font-family: var(--cursive-font-family);
    font-size: 2.4rem;
    color: var(--main-text-color);
    margin: 0 auto 2.3rem;
}

.cental-title{
 margin: 0 auto 6.5rem;
 text-transform: uppercase;
 font-size: 3rem;
 font-family: var(--main-font-family);   
 font-weight: 700;
 color: var(--main-text-color);
}

.cental-title::after{
    content: "";
    width:6rem;
    border: 3px solid var(--border-color);
    display: block;
    margin: 4.3rem auto 0;
}

.services-list{
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.services-item{
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10.5rem;
}

.services-item:nth-child(n+4){
    margin-bottom: 0;
}

.icon-container{
    width: 20%;
    position: relative;
}

.services-icon{
    width: 3.2rem;
    height: 3.1rem;
    fill: var(--button-color);
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

.text-container{
    width: 80%;
}

.item--title{
    font-family: var(--main-font-family);
    text-transform: uppercase;
    color: var(--main-text-color);
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.item--description{
    font-family: var(--additional-font-family);
    font-size: 1.5rem;
    color: var( --additional-font-color);
}

/* TEAM SECTION */

.our-team__description{
    margin: 0 auto 9.2rem;
    font-family: var(--additional-font-family);
    font-size: 1.5rem;
    color: var(--additional-font-color);
}

.our-team__main-title {
    margin-bottom: 4.6rem;
}

.our-team__list{
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto 8.3rem;
}

.our-team__item{
    list-style: none;
    margin-right: 3rem;
}

.our-team__item:last-child{
    margin-right: 0;
}

.picture-holder{
    /* height: 100%;
    width: 100%; */
    position: relative;
    margin-bottom: 3rem;
}

.blue-background{
    background-color: var(--button-color);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.our-team__img{
    position: relative;
    z-index:2;
}

.gradient{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-image: -webkit-gradient(linear,
    left bottom, left top,
    from(rgba(252, 227, 138, 0.9)),
    to(rgba(243, 129, 129, 0.9)));
    background-image: -webkit-linear-gradient(bottom,
    rgba(252, 227, 138, 0.9),
    rgba(243, 129, 129, 0.9));
    background-image: -o-linear-gradient(bottom,
    rgba(252, 227, 138, 0.9),
    rgba(243, 129, 129, 0.9));
    background-image: linear-gradient(to top,
    rgba(252, 227, 138, 0.9),
    rgba(243, 129, 129, 0.9));
    top:0;
    left:0;
    opacity: 0;
}

.socials-list{
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.socials-item{
    list-style: none;
    width: 57px;
    height: 57px;
    margin-right: 1px;
    background-color: var(--hover-color);
    position: relative;
}  

.socials-item:last-child{
    margin-right: 0;
}

.socials-link{
    display: block;
    width: 100%;
    height: 100%;
}

.socials-icon{
    height: 26px;
    fill: var(--border-color);
    width: 26px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    position: relative;
}

.socials-link:hover{
    background-color: var( --border-color);
}

.socials-link:hover .socials-icon{
    fill: var(--main-section-color);
}

.facebook{
    width: 13px;
}

.twitter{
    height: 22px;
}

.pinterest{
    width: 21px;
}

.our-team__item:hover .gradient{
    opacity: 1;
    -webkit-transform: translate(-10px, -10px);
        -ms-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
    -webkit-transition: opacity, -webkit-transform 0.5s linear;
    transition: opacity, -webkit-transform 0.5s linear;
    -o-transition: opacity, transform 0.5s linear;
    transition: opacity, transform 0.5s linear;
    transition: opacity, transform 0.5s linear, -webkit-transform 0.5s linear;
}

.our-team__item:hover .our-team__img{
    -webkit-transform: translate(-10px, -10px);
        -ms-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
    -webkit-transition: -webkit-transform 0.5s linear;
    transition: -webkit-transform 0.5s linear;
    -o-transition: transform 0.5s linear;
    transition: transform 0.5s linear;
    transition: transform 0.5s linear, -webkit-transform 0.5s linear;
}

.our-team__name{
    font-family: var(--main-font-family);
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--main-text-color);
    margin-bottom: 1.6rem;
}

.our-team__position{
    font-family: var(--additional-font-family);
    font-style: italic;
    font-weight: 300;
    font-size: 15px;
    color: var(--additional-font-color);
}


/* FOOTER */

.footer-container{
    border-top: 1px solid #e5e5e5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 6.3rem;
}

.main-footer__copyrights{
    font-family: var(--main-font-family);
    font-size: 14px;
    color: var(--main-text-color);
    display: inline-block;
    margin: 0;
}

.capitalised-letter{
    text-transform: uppercase;
}

.main-footer__copyrights-author, .main-footer__copyrights-author:hover{
    font-family: var(--main-font-family);
    font-size: 14px;
    color: var(--border-color);
    text-decoration: none;
}

.form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.email-input::-webkit-input-placeholder{
    color: #cccccc;
    font-family: var(--additional-font-family);
    font-weight: 300;
    font-style: italic;
    font-size: 15px;
    /* padding: 14px 138px 14px 12px; */
    /* display: inline-block; */
}

.email-input:-ms-input-placeholder{
    color: #cccccc;
    font-family: var(--additional-font-family);
    font-weight: 300;
    font-style: italic;
    font-size: 15px;
    /* padding: 14px 138px 14px 12px; */
    /* display: inline-block; */
}

.email-input::-ms-input-placeholder{
    color: #cccccc;
    font-family: var(--additional-font-family);
    font-weight: 300;
    font-style: italic;
    font-size: 15px;
    /* padding: 14px 138px 14px 12px; */
    /* display: inline-block; */
}

.email-input::placeholder{
    color: #cccccc;
    font-family: var(--additional-font-family);
    font-weight: 300;
    font-style: italic;
    font-size: 15px;
    /* padding: 14px 138px 14px 12px; */
    /* display: inline-block; */
}

.email-input{
    padding: 14px 138px 14px 12px;
    border: 1px solid #e7e7e7;
    font-family: var(--additional-font-family);
    font-weight: 300;
    font-style: italic;
    font-size: 15px;
    min-height: 40px;
    max-width: 230px;
    line-height: 15px;
}

.button{
    font-family: var(--main-font-family);
    font-weight: 700;
    font-size: 14px;
    color: var(--main-section-color);
    text-transform: uppercase;
    background-color: var(--button-color);
    padding: 14px 32px;
    border: none;
    max-width: 155px;
    min-height: 40px;
    line-height: 14px;
}
  


    




